{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Polls</h3>
            </div>
                
            <ul class="list-group ">
               {% for poll in polls %}
                <li class="list-group-item mx-5">
                    <strong>{{ poll.question }}</strong>
                
                    <span class="pull-right">
                        <a href="{%url 'vote' poll.id %}" class="btn btn-info ">Vote</a> &nbsp;
                        <a href="{%url 'result' poll.id %}" class="btn btn-default ">View Results</a> &nbsp;
                    </span>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}